// TGM Responsive Variables

$smaller-width:  680px;    // -phones
$small-width:    750px;    // -big phones, small tablets
$med-width:      980px;    // -portrait tablets
$big-width:      1120px;   // -landscape tablets, smaller screens
$bigger-width:   $big-width + 1px;   // -big screens (default, used as min-width)

$med-screen-margin: 20px;
$sml-screen-margin: 10px;

// Big stuff
@media only screen and (max-width: $big-width) {
  #filter-buttons {
    display: inline;
  }
  #filter-dropdown {
    display: none;
  }
  .navbar-collapse {
    padding-left: 15px;
  }
}

// Portrait tablets
@media only screen and (max-width: $med-width) {
  #filter-buttons {
    display: none;
  }
  #filter-dropdown {
    display: inline !important;
  }
  #isotope-filters {
    .interaction-div { 
      border-radius: 0px !important;
    }
  }
  .navbar-nav {
    margin: 0 !important;
  }
  .navbar-collapse {
    padding-left: 0 !important;
  }
}

// Big phones, small tablets
@media only screen and (max-width: $small-width) {
  /*#app-controls {*/
    /*&.fixed {*/
      /*top: 32px !important;*/
    /*}*/
  /*}*/
  .interaction-div {
    padding: 2px 10px !important;
  }
  .navbar-collapse {
    padding-left: 0 !important;
  }
} 

// Phones
@media only screen and (max-width: $smaller-width) {
}
