#app-controls-wrapper {
  height: 45px;
  margin-bottom: 30px;
}

#app-controls {
  z-index: 100;
  min-height: 45px;
  &.fixed {
    top: 50px;
    position: fixed;
    width: 100%;
  }
}
#filter-buttons {
  margin-right: 25px;
}
#filter-dropdown {
  display: none;
}

#plot-reset {
  display: none;
}

.isotope-list-wrapper {
  width: 100%;
  .nav {
    padding-right: 20px;
    .btn-default {
      background-color: darken(white, 5%);
    }
  }
  .isotope-list-el {
    /*display: inline-block;*/
    /*margin-right: 15px;*/
  }
  .isotope-list-title {
    font-size: 1em;
    color: lighten(black, 25%);
    line-height: 1em;
    margin-left: 0;
    margin-right: 25px;
    display: inline-block;
  }
  .isotope-list {
    margin: 0 10px;
    .isotope-ul {
      padding: 0;
      li {
        .interaction-div {
          padding: 3px 10px;
          margin: 2px 1px;
          background-color: white;
          cursor: pointer;
          &:hover {
            background-color: darken(white, 10%);
          }
          &.isotope-sorter-div a {
            color: $gray-dark;
          }
          a {
            text-decoration: none;
          }
          a:active {
            background: none;
          }
        }
        .active {
          background-color: darken(white, 15%);
        }
      }
    }
  }
}
