$yellow: rgba(255, 248, 199, 0.40);
$lightGray: #ccc;

div#isotope-content {
  margin: 0 auto;
  width: 100%;
  position: relative;
  div.destination {
    width: 240px;
    margin: 0.5em;
    display: inline-block;
    padding-bottom: 10px;
    background-color: white;
    h2.destination-name {
      text-transform: uppercase;
      line-height: 1.5em;
      padding-left: 10px;
      color: white;
      margin: 0;
    }
    h3 {
      text-align: center;
      font-size: 110%;
    }
    .origin-summary-table {
      margin-top: 10px;
      padding: 0px 10px;
    }
    .origin-table-header {
      font-weight: 600;
      padding: 3px 10px;
      border-bottom: 1px dotted gray;
      &.per-tenk {
        border-bottom: none;
        padding: 0;
        margin-top: 5px;
      }
    }
    .plotDiv {
      margin: 6px 0;
      display: none;
      .axis {
        path, line {
          fill: none;
          stroke: gray;
          shape-rendering: crispEdges;
        }
        .domain {
          display: none;
        }
        text {
          font: 12px sans-serif;
        }
      }
      .y.axis {
        .tick {
          line {
            stroke: lighten($gray-light, 20%);
            stroke-dasharray: 2 2;
          }
        }
      }
      .x.axis {
        .tick {
          line {
            stroke: $gray-lighter;
            /*stroke-dasharray: 1 1;*/
          }
        }
      }
      .plotLine {
        fill: none;
        stroke-width: 2px;
        opacity: 0.8; 
      }
    }
  }
}

span.origin-name {
  width: 70%;
  display: inline-block;
}
span.origin-num {
  width: 30%;
  display: inline-block;
  text-align: right;
}
.top-origins {
  .origin-name {
    width: 60%;
  }
  .origin-num {
    width: 40%;
  }
}

.destination-title.Africa {background-color: $tgm-blue-dark; }
a.Africa { color: $tgm-blue-dark; }
.destination-title.Asia { background-color: $tgm-orange; }
a.Asia {color: $tgm-orange; }
.destination-title.Europe {background-color: $tgm-purple; }
a.Europe {color: $tgm-purple; }
.destination-title.Oceania {background-color: $tgm-green; }
a.Oceania {color: $tgm-green; }
.destination-title.NorthernAmerica {background-color: $tgm-yellow; }
a.NorthernAmerica {color: $tgm-yellow; }
.destination-title.SouthAmerica {background-color: $tgm-pink; }
a.SouthAmerica {color: $tgm-pink; }

.plotLine.Africa { stroke: $tgm-blue-dark; }
.plotLine.Asia {stroke: $tgm-orange; }
.plotLine.Europe {stroke: $tgm-purple; }
.plotLine.Oceania {stroke: $tgm-green; }
.plotLine.NorthernAmerica {stroke: $tgm-yellow; }
.plotLine.SouthAmerica {stroke: $tgm-pink; }

.origin-name.active { font-weight: bold; }
.origin-name.active.Africa { color: $tgm-blue-dark; }
.origin-name.active.Asia {color: $tgm-orange; }
.origin-name.active.Europe {color: $tgm-purple; }
.origin-name.active.Oceania {color: $tgm-green; }
.origin-name.active.NorthernAmerica {color: $tgm-yellow; }
.origin-name.active.SouthAmerica {color: $tgm-pink; }

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.origin-wrapper {
  width: 100%;
  margin: 10px auto 0 auto;
  display: block;
  font-size: 90%;
}
.origin {
  padding: 3px 10px;
  border-bottom: 1px solid lighten(gray, 30%);
  &:nth-of-type(n+8) {
   display: none; 
  }

  &:hover {
    background-color: lighten($yellow, 5%);
    cursor: pointer;
  }
  h4 {
    font-weight: normal;
    line-height: 1em;
    display: inline;
  }
}
