@import "tgm.less";
@import "../bower_components/isotope/css/style.css";


@tgmBlue: #0b6eb8;
@tgmBlueDark: #0064cd;
@tgmGreen: #1aab45;
@tgmRed: #f3454c;
@tgmYellow: #f3bf07;
@tgmOrange: #fd8939;
@tgmPink: #C133B1;
@tgmPurple: #800C8A;

@yellow: rgba(255, 248, 199, 0.40);
@green: rgba(199, 255, 200, 0.40);
@blue: rgba(199, 255, 252, 0.40);
@purple: rgba(205, 199, 255, 0.40);
@pink: rgba(255, 199, 225, 0.40);
@orange: rgba(255, 219, 199, 0.40);
@lightGray: #ccc;

#main {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.isotope-list-wrapper {
  width: 20%;
  position: fixed;
  .isotope-list-fixed {
    .isotope-list {
      margin: 20px 15px 50px 15px;
      .isotope-list-title {
        border-bottom: 5px solid @lightGray;
        h3 {
          font-size: 1.5em;
          margin: 2px 0px;
          display: inline-block;
        }
      }
      .isotope-ul {
        list-style-type: none;
        margin: 10px 0 0 0;
        padding: 0;
        li {
          display: inline-block;
          .interaction-div {
            -webkit-box-shadow: 0px 0px 1px rgba(100, 100, 100, 0.45);
            -moz-box-shadow:    0px 0px 1px rgba(100, 100, 100, 0.45);
            box-shadow:         0px 0px 1px rgba(100, 100, 100, 0.45);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            display: inline-block;
            padding: 3px 10px;
            margin: 2px 1px;
            background-color: white;
            cursor: pointer;
            &:hover {
              background-color: darken(white, 10%);
            }
            a:active {
              background: none;
            }
          }
          .active {
            background-color: darken(white, 15%);
          }
        }
      }
    }
  }
}

// chart-specific things here
div#isotope-content {
  width: 80%;
  float: right;
  // position: relative;
  // right: 0px;
  div.destination {
    h2 {
      line-height: 0.9em;
      min-height: 40px;
      margin-top: 6px;
    }
    h3 {
      text-align: center;
    }
    width: 250px;
    margin: 1em 0.5em;
    display: inline-block;
    padding: 15px 20px;
    background-color: white;
    .plotDiv {
      margin: 6px 0;
      display: none;
      .axis {
        path, line {
          fill: none;
          stroke: gray;
          shape-rendering: crispEdges;
        }
        text {
          font: 12px sans-serif;
        }
      }
      .plotRect {
        shape-rendering: crispEdges;
        opacity: 0.7; 
      }
    }
  }
}

.active0 {
  background-color: @yellow !important;
  &:hover { background-color: lighten(@yellow, 5%) !important; }
}
.active1 {
  background-color: @green !important;
  &:hover { background-color: lighten(@green, 5%) !important; }
}
.active2 {
  background-color: @blue !important;
  &:hover { background-color: lighten(@blue, 5%) !important; }
}
.active3 {
  background-color: @purple !important;
  &:hover { background-color: lighten(@purple, 5%) !important; }
}
.active4 {
  background-color: @pink !important;
  &:hover { background-color: lighten(@pink, 5%) !important; }
}
.active5 {
  background-color: @orange !important;
  &:hover { background-color: lighten(@orange, 5%) !important; }
}

div.Africa {border-top: 10px solid @tgmBlueDark; }
a.Africa { color: @tgmBlueDark; }
div.Asia { border-top: 10px solid @tgmOrange; }
a.Asia {color: @tgmOrange; }
div.Europe {border-top: 10px solid @tgmPurple; }
a.Europe {color: @tgmPurple; }
div.Oceania {border-top: 10px solid @tgmGreen; }
a.Oceania {color: @tgmGreen; }
div.NorthernAmerica {border-top: 10px solid @tgmYellow; }
a.NorthernAmerica {color: @tgmYellow; }
div.SouthAmerica {border-top: 10px solid @tgmPink; }
a.SouthAmerica {color: @tgmPink; }

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.origin {
  padding: 3px 5px;
  border-bottom: 1px dotted gray;
  span.origin-name {
    width: 80%;
    display: inline-block;
  }
  span.origin-num {
    width: 20%;
    display: inline-block;
    text-align: right;
  }
  &:hover {
    background-color: lighten(@yellow, 5%);
    cursor: pointer;
  }
  h4 {
    line-height: 1em;
    display: inline;
  }
}