@import "tgm.less";
@import "../bower_components/isotope/css/style.css";

@yellow: rgba(255, 248, 199, 1);
@green: rgba(199, 255, 200, 1);
@blue: rgba(199, 255, 252, 1);
@purple: rgba(205, 199, 255, 1);
@pink: rgba(255, 199, 225, 1);
@orange: rgba(255, 219, 199, 1);

// chart-specific things here
div.destination {
  h2 {
    line-height: 0.8em;
    margin-top: 0;
  }
  // float: left;
  width: 250px;
  margin: 1em 0.5em;
  display: inline-block;
  padding: 15px 20px;
  background-color: white;
  // height: 260px;
  .origin {
    padding: 2px 5px;
    border-bottom: 1px dotted gray;
    span.origin-name {
      width: 80%;
      display: inline-block;
    }
    span.origin-num {
      width: 20%;
      display: inline-block;
      text-align: right;
    }
    &:hover {
      background-color: lighten(@yellow, 5%);
      cursor: pointer;
    }
    h4 {
      line-height: 1em;
      display: inline;
    }
    .plotDiv {
      margin: 6px 0;
      display: none;
      .axis {
        path, line {
          fill: none;
          stroke: gray;
          shape-rendering: crispEdges;
        }
        text {
          font: 12px sans-serif;
        }
      }
    }
  }
  .active0 {
    background-color: @yellow;
  }
  .active1 {
    background-color: @green;
  }
  .active2 {
    background-color: @blue;
  }
  .active3 {
    background-color: @purple;
  }
  .active4 {
    background-color: @pink;
  }
  .active5 {
    background-color: @orange;
  }
}